body {
  font-family: sans-serif;
  color: #232323;
}

nav li:last-child a {
  background: #FE5f1E;
}
nav li:last-child a:hover {
  background: #FE5f1E;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #b23301;
}

section.hero {
  background: #F8F8F8;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #FE5f1E;
  color: #FE5f1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5f1E;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background: #FE5f1E !important;
  transition: all 0.3s ease-in-out;
}

section.login {
  background: #F8F8F8;
}
section.login a {
  color: #FE5f1E;
}
section.login a:hover {
  color: #b23301;
}
